name: tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php:
          - "7.3"
          - "7.4"
        dependencies:
          - "locked"
          - "highest"
          - "lowest"
        laravel:
          - "6.x"
          - "7.x"
          - "8.x"
        minions:
          - "2.x"
        experimental:
          - false

    name: PHP${{ matrix.php }} with Laravel ${{ matrix.laravel }} and Minion ${{ matrix.minions }} on ubuntu-latest (${{ matrix.dependencies }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-${{ matrix.laravel }}-${{ matrix.minions }}-${{ matrix.php }}-${{ matrix.dependencies }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, sqlite3, pdo_sqlite, pdo_mysql, bcmath, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install Laravel Framework ${{ matrix.laravel }}
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "katsana/minions:${{ matrix.minions }}" --no-interaction --no-update
      - name: Install dependencies
        uses: "ramsey/composer-install@v1"
        with:
          composer-options: "--prefer-dist --no-cache"
      - name: Create database
        run: php ./vendor/orchestra/testbench-core/create-sqlite-db
      - name: Upgrade Chrome Driver
        run: vendor/bin/dusk-updater detect --auto-update
      - name: Start Chrome Driver
        run: vendor/laravel/dusk/bin/chromedriver-linux &
      - name: Sleep for 5 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '5s'
      - name: Execute tests
        run: vendor/bin/phpunit
      - name: Upload Failed Screenshots
        uses: actions/upload-artifact@v2-preview
        if: failure()
        with:
          name: screenshots
          path: tests/Browser/screenshots/*

  tests-on-legacy-php:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php:
          - "7.2"
        dependencies:
          - "locked"
          - "highest"
          - "lowest"
        laravel:
          - "6.x"
          - "7.x"
        minions:
          - "1.x"
          - "2.x"
        experimental:
          - false

    name: PHP${{ matrix.php }} with Laravel ${{ matrix.laravel }} and Minion ${{ matrix.minions }} on ubuntu-latest (${{ matrix.dependencies }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-${{ matrix.laravel }}-${{ matrix.minions }}-${{ matrix.php }}-${{ matrix.dependencies }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, sqlite3, pdo_sqlite, pdo_mysql, bcmath, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install Laravel Framework ${{ matrix.laravel }}
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "katsana/minions:${{ matrix.minions }}" --no-interaction --no-update
      - name: Install dependencies
        uses: "ramsey/composer-install@v1"
        with:
          composer-options: "--prefer-dist --no-cache"
      - name: Create database
        run: php ./vendor/orchestra/testbench-core/create-sqlite-db
      - name: Upgrade Chrome Driver
        run: vendor/bin/dusk-updater detect --auto-update
      - name: Start Chrome Driver
        run: vendor/laravel/dusk/bin/chromedriver-linux &
      - name: Sleep for 5 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '5s'
      - name: Execute tests
        run: vendor/bin/phpunit
      - name: Upload Failed Screenshots
        uses: actions/upload-artifact@v2-preview
        if: failure()
        with:
          name: screenshots
          path: tests/Browser/screenshots/*

  tests-on-legacy-minions:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php:
          - "7.3"
          - "7.4"
        dependencies:
          - "highest"
        laravel:
          - "6.x"
          - "7.x"
        minions:
          - "1.x"
        experimental:
          - false

    name: PHP${{ matrix.php }} with Laravel ${{ matrix.laravel }} and Minion ${{ matrix.minions }} on ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ~/.composer/cache/files
          key: dependencies-${{ matrix.laravel }}-${{ matrix.minions }}-${{ matrix.php }}-${{ matrix.dependencies }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, sqlite3, pdo_sqlite, pdo_mysql, bcmath, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install Laravel Framework ${{ matrix.laravel }}
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "katsana/minions:${{ matrix.minions }}" --no-interaction --no-update
      - name: Install dependencies
        uses: "ramsey/composer-install@v1"
      - name: Create database
        run: php ./vendor/orchestra/testbench-core/create-sqlite-db
      - name: Upgrade Chrome Driver
        run: vendor/bin/dusk-updater detect --auto-update
      - name: Start Chrome Driver
        run: vendor/laravel/dusk/bin/chromedriver-linux &
      - name: Sleep for 5 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '5s'
      - name: Execute tests
        run: vendor/bin/phpunit
      - name: Upload Failed Screenshots
        uses: actions/upload-artifact@v2-preview
        if: failure()
        with:
          name: screenshots
          path: tests/Browser/screenshots/*
